@charset "utf-8";
.bg_v {
	background-image: url(images/ny_04.jpg);
	height: 389px;
	width: 582px;
}
.bg_t {
	background-image: url(images/ny_02.jpg);
	height: 923px;
	width: 696px;
	padding-right: 50px;
	padding-left: 100px;
	padding-bottom: 200px;
}
.bg_t2 {
	background-image: url(images/ny_07.jpg);
	height: 212px;
	width: 802px;
	padding-right: 30px;
	background-repeat: no-repeat;
	padding-top: 53px;
	padding-left: 30px;
}
.test_1 {
	font-family: "微軟正黑體", Arial;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #FC3;
}
.test_2 {
	font-family: "微軟正黑體", Arial;
	font-size: 14px;
	line-height: 25px;
	color: #FFF;
}
